.maze {
  display: grid;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid black;
  height: 90vh;
  width: 100vh;

  &__start {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: rgb(62, 128, 0);

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      background-color: orange;
    }

    &:active {
      border: 1px solid black;
    }
  }

  &__finish {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
